
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap 3 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      {% include "menu.html" %}


        {% block content %}
             <!-- Main component for a primary marketing message or call to action -->
              <div class="jumbotron">
                <h1>Hello to my minisql</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi eius expedita quos voluptatem! Architecto consectetur corporis doloribus dolorum ducimus eligendi, ipsam molestiae molestias neque non, omnis, possimus. Culpa, necessitatibus.</p>
              </div>
        {% endblock %}

    </div> <!-- /container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
