{% extends "base.html" %}

{% load bootstrap3 %}


{% block content %}
<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary pull-right">
            {% bootstrap_icon "submit" %} Submit
        </button>
    {% endbuttons %}
</form>
{% endblock %}